body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;
}

.controls label {
  margin-right: 5px;
}

.game-container {
  position: relative;
}

#next-tetromino {
  position: absolute;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

#tetris {
  background-color: #888;
  border: 2px solid #fff;
}
